# In any case, such as Provider or Consumer
HOST_URL=ds-provider
HOST_PORT=1234

# Database layer
# [postgres, mongo, mysql, memory]
DB_TYPE=postgres
DB_URL=db-provider
DB_PORT=5432
DB_USER=ds-protocol-provider
DB_PASSWORD=ds-protocol-provider
DB_DATABASE=ds-protocol-provider

# In case you are Consumer
PROVIDER_HOST=ds-provider
PROVIDER_PORT=1234

# In case you are Provider and wants auth
AUTH_URL=ds-provider
AUTH_PORT=1232

# Derived stuffed
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_URL}:${DB_PORT}/${DB_DATABASE}